
header {
color: white;
background: #3CB371;
text-align: center;
font-size: 130%;
padding:10px;
}
#l{
	float: left;
	background: #FAEBD7;
	width: 55%;
	height: 450px;
}
#t {
	background: #FAEBD7;
	width: 45%;
	height: 450px;
	float: left;
}
#r{
padding: 3px;
margin: 15px;
float: left;
}
#s{
width: 100%;
color: white;
background: #3CB371;
text-align: center;
font-size: 130%;
padding:10px;	
}
img{
    padding: 3px;
	margin: 15px;
	border-width: 2px;
	border-style: dashed;
	border-color: #3CB371;
}
