a{
text-decoration: none;
  color: black;
}
a:hover{
text-decoration: underline;
} 
.Main{

word-spacing:25px;
font-size: large;
 width:100%;
  height:8%;
  background-color: CCFF99;
}
header{
text-align: center;
}
