#n1{
	text-align:center;
	margin:400px;
	color:cyan;
	font-size: 40px;
}
body{
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQHxg7ZgN3lq5doUX6wmHJE64hsS95JOtx2tRcmFQp6011KTVMz&usqp=CAU) left top repeat;

}
#b1{
background-color: #FAEBD7;	
}