body{
	font-family: Georgia;
}
#b1,#b2,#b3,#s1,#s2,#s3{
	background-color: Sienna;
	color:white;
	height:150px;
	float:left;
}
#b1,#s1{
	width:40%;
}
#b2,#s2{
	width:50%;
    font-size:150%;
    float: left;
}
#b3,#s3{
	width:10%;
    text-align:center;
    float: left;
}
#g{
	background-color:Tan;
	padding:100px;
	padding-top:200px;
}
a {
	border: dashed;
	border-width: 1px;
	border-color: Sienna;
	background: Tan;
	color: Sienna;
	padding: 40px;
	line-height: 150px;
}
}
li{
	list-style-type:circle;
}
